
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<body>
    <div>
        <h2 class="logoheadersh2">Welcome to Verses!</h2>
        <h4 class="logoheadersh4">Search for your favorite bible verses</h4>
    </div>
</body>