body {
    background-image: url("/Images/bible.jpg");
    background-size: cover;
}
.homefooter {
    color: white;
}

.formcenter {
    background: white;
    margin-top: 15%;
    padding: 10px;
}

.titlecenter {
    text-align: center;
}

.versecenter {
    text-align: center;
}

.customradiolabels {
    margin-left: 20px;
    margin-top: 8px;
}

#logo {
    width: 250px;
    height: 150px;
    margin-right: 35%;
}

.logoheadersh2{
    color: white;
    text-align: center;
    font-size: 72px;
}

.logoheadersh4 {
    color: white;
    text-align: center;
    font-size: 42px;
}